# Application Setup
NODE_ENV=development
PORT=3000

# Database
DATABASE_URL=postgresql://user:password@localhost:5432/nodestar_db

# Security & Auth
JWT_SECRET=super-secret-key-change-me-in-production
JWT_EXPIRES_IN=1d
